<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceDepartamentoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceDepartamentoSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44323/WebServiceDepartamento.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceDepartamentoSoap"
                contract="ServiceDepartamento.WebServiceDepartamentoSoap"
                name="WebServiceDepartamentoSoap" />
        </client>
    </system.serviceModel>
</configuration>